@import 'commons/btn';
@import 'commons/data-btn-container';
@import 'commons/page-title';
@import 'commons/hotel-resume';
@import 'commons/header';
@import 'commons/body';

@include body;
@include header;

.about-us-title {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    padding: 8rem 1rem 0rem 1rem;
    @include page-title;
}

.video-presentation {
    padding: 1rem;
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    text-align: center;

    & p {
        font-family: 'Old Standard TT';
        font-weight: 400;
        font-size: 2rem;
    }
}

.hotel-benefits {
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    & .benefit {
        width: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        & img {
            width: 4rem;
            fill: #BEAD8E;
        }

        & svg {
            fill: #BEAD8E;
        }

        & h6 {
            font-family: 'Archivo';
            letter-spacing: 2.4px;
            padding: 1rem;
            font-size: 0.9rem;
        }
    }
}

.restaurant {
    .restaurant-photo {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include data-btn-container;

    .btn-book-now {
        @include btn;
        @include btn("light");
    }

    h2 {
        font-size: 2.5rem;
    }

    p {
        padding-right: 2.5rem;
    }
}

.core-features {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: #222222;
    text-align: center;

    h6 {
        font-family: 'Archivo';
        color: #777777;
        font-size: 1rem;
        letter-spacing: 2.8px;
        color: #FFFFFF;
    }

    h2 {
        font-family: 'Old Standard TT';
        font-weight: 400;
        font-size: 3rem;
        padding: 1rem 0;
        color: #FFFFFF;
    }

    p {
        font-family: 'Archivo';
        color: #777777;
        line-height: 24px;
        font-size: 1rem;
    }

    & .swiper-core-features {
        display: flex;
        flex-direction: column;
        text-align: left;
        break-inside: avoid;
        padding-bottom: 2rem;
        overflow: hidden;

        & .swiper-wrapper {

            & .swiper-slide {
                background-color: #292929;
                padding: 1rem;

                & .hotel-feature {
                    & img {
                        padding: 3rem 0 2rem 1rem;
                    }

                    & .field-container {
                        & h2 {
                            font-family: 'Old Standard TT';
                            font-size: 1.8rem;
                        }
                    }
                }

                & .bg-1 {
                    margin-right: 1.5rem;
                    background-image: url('./../../Images/01-dark.svg');
                    background-size: 9rem;
                    background-repeat: no-repeat;
                    background-position: top right;
                }

                & .bg-2 {
                    margin-right: 1.5rem;
                    background-image: url('./../../Images/02-dark.svg');
                    background-size: 9rem;
                    background-repeat: no-repeat;
                    background-position: top right;
                }

                & .bg-3 {
                    margin-right: 1.5rem;
                    background-image: url('./../../Images/03-dark.svg');
                    background-size: 9rem;
                    background-repeat: no-repeat;
                    background-position: top right;
                }

                & .bg-4 {
                    margin-right: 1.5rem;
                    background-image: url('./../../Images/04-dark.svg');
                    background-size: 9rem;
                    background-repeat: no-repeat;
                    background-position: top right;
                }

                & .bg-5 {
                    margin-right: 1.5rem;
                    background-image: url('./../../Images/05-dark.svg');
                    background-size: 9rem;
                    background-repeat: no-repeat;
                    background-position: top right;
                }

                & .bg-6 {
                    margin-right: 1.5rem;
                    background-image: url('./../../Images/06-dark.svg');
                    background-size: 9rem;
                    background-repeat: no-repeat;
                    background-position: top right;
                }
            }
        }

        & .swiper-pagination-core-facilities {
            position: relative;
            top: 2rem;
            transform: translateX(35%);

            & .swiper-pagination-bullet-active {
                background-color: #BEAD8E;
                color: white;
            }
        }
    }
}

.fun-facts-container {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 1rem;

    & h6 {
        font-family: 'Archivo';
    }

    & h2 {
        font-family: 'Old Standqard TT';
        font-weight: 400;
        font-size: 3rem;
        padding-right: 3rem;
    }

    & .fun-facts {
        & .fun-fact {
            display: flex;
            flex-direction: row;
            padding: 1rem;
            justify-content: space-evenly;

            & img {
                padding: 0 1rem;
            }

            & .fun-fact-data {
                width: 50%;
                & h2 {
                    font-family: 'Old Standard TT';
                }

                & P {
                    font-family: 'Roboto';
                    color: #777777;
                }
            }
        }
    }
    .images {
        & .swiper-images {
            break-inside: avoid;
            padding-bottom: 2rem;
            overflow: hidden;
            & .swiper-wrapper {
                & .swiper-slide {
                    & img {
                        padding: 1rem;
                        object-fit: cover;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            & .swiper-pagination-images {
                position: relative;
                top: 2rem;
                transform: translateX(35%);
    
                & .swiper-pagination-bullet-active {
                    background-color: #BEAD8E;
                    color: white;
                }
            }
        }
    }
}

@include hotel-resume;

footer {
    background-color: #F8F8F8;
    padding: 1rem;

    & .footer-line {
        & p {
            font-family: 'Roboto';
            font-weight: 700;
            padding: 0.5rem 0;

            & span {
                padding: 0 0.5rem;
            }
        }
    }
}