@import 'commons/page-title';
@import 'commons/hotel-resume';
@import 'commons/room-card';
@import 'commons/header';
@import 'commons/body';

@include body;
@include header;

.offers {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    padding: 8rem 1rem 0rem 1rem;
    @include page-title;
}

.room-offers {
    padding: 0rem 1rem;

    & .offer-card {
        box-shadow: 4px 6px 12px 0px rgba(0, 0, 0, 0.2);
        margin: 2rem 0;
        padding: 0 0rem 1rem 0rem;

        & .offer-image-container {
            width: 100%;
            height: 10.13rem;

            & img {
                display: block;
                width: 100%;
                height: 10.13rem;
                object-fit: cover;
            }

            & .prices {
                position: relative;
                bottom: 5rem;
                right: 1rem;

                & .price-container--old,
                .price-container--new {
                    display: flex;
                    justify-content: right;
                    font-family: 'Archivo';
                    color: #BEAD8E;
                    font-weight: 700;
                    display: flex;
                    flex-direction: row;

                    & .price-value {
                        font-size: 1.8rem;
                    }

                    & .price-unit {
                        padding-top: 0.8rem;
                    }
                }

                & .price-container--old {
                    & .price-value {
                        text-decoration-line: line-through;
                    }

                    & .price-unit {
                        text-decoration-line: line-through;
                    }
                }

                & .price-container--new {
                    color: #DE5777;

                    & .price-value {
                        font-size: 2.2rem;
                    }

                    & .price-unit {
                        padding-top: 1.1rem;
                    }
                }
            }

        }

        & .offer-description {
            padding: 0 1rem;

            & .room-header {
                & .room-titles {
                    & h6 {
                        font-family: 'Archivo';
                        color: #777777;
                        font-weight: 700;
                        font-size: 1rem;
                        letter-spacing: 2.8px;
                        padding: 1rem 0;
                    }

                    & h2 {
                        font-family: 'Old Standard TT';
                        font-weight: 400;
                        font-size: 2.5rem;
                        padding-right: 1rem;
                    }
                }

                & .prices-extended {
                    position: relative;

                    & .price-container--old,
                    .price-container--new {
                        display: flex;
                        justify-content: right;
                        font-family: 'Archivo';
                        color: #BEAD8E;
                        font-weight: 700;
                        display: flex;
                        flex-direction: row;

                        & .price-value {
                            font-size: 1.8rem;
                        }

                        & .price-unit {
                            padding-top: 0.8rem;
                        }
                    }

                    & .price-container--old {
                        & .price-value {
                            text-decoration-line: line-through;
                        }

                        & .price-unit {
                            text-decoration-line: line-through;
                        }
                    }

                    & .price-container--new {
                        color: #DE5777;

                        & .price-value {
                            font-size: 2.2rem;
                        }

                        & .price-unit {
                            padding-top: 1.1rem;
                        }
                    }
                }

            }

            & .offer-text {
                font-family: 'Roboto';
                color: #777777;
                line-height: 24px;
                font-size: 0.9rem;
                padding: 1rem 0;
            }

            & .list-amenities {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 1rem 0 2rem 0;

                & .amenity {
                    padding: 0.5rem 0;
                    display: flex;
                    flex-direction: row;
                    width: 50%;

                    & img {
                        display: block;
                        padding: 0 0.5rem;
                    }

                    & p {
                        font-family: 'Roboto';
                        font-size: 0.5rem;
                    }
                }
            }

            .btn-book-now {
                @include btn;
                @include btn("light");
                width: 70%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.popular-list {
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #222222;

    & h6 {
        color: #BDAC8D;
        font-family: 'Archivo';
        letter-spacing: 2.8px;
    }

    & h2 {
        font-family: 'Old Standard TT';
        font-size: 2rem;
        font-weight: 400;
        padding: 1rem;
        color: #FFFFFF;
    }


    & .swiper {
        width: 100%;
        height: auto;
        padding: 0 1rem;

        & .rooms-container {
            @include room-card("bottom");

            & .room-card {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;

                & .image-container {
                    width: 100%;
                }

                & .image-description {
                    background-color: #FFFFFF;
                    width: 90%;
                    position: relative;
                    top: 0rem;
                    padding: 0.5rem;

                    & h2 {
                        font-size: 1.6rem;
                        color: black;
                    }

                    & p {
                        padding: 0 1rem;
                    }

                    & div {
                        & .room-price {
                            padding: 1rem;
                            font-size: 1rem;

                            & span {
                                font-size: 1rem;
                            }
                        }

                        & .room-status {
                            padding: 1rem;
                        }
                    }
                }
            }
        }

        & .swiper-pagination {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            & .swiper-pagination-bullet {
                font-family: 'Oswald';
                width: 2.5rem;
                height: 2.5rem;
                background-color: white;
                color: black;
                font-size: 1rem;
                align-items: center;
                justify-content: center;
                border-radius: 0;
                opacity: 1;
                padding-top: 1rem;
            }

            & .swiper-pagination-bullet-active {
                background-color: #BEAD8E;
                color: white;
            }
        }

        & .swiper-button-next,
        .swiper-button-prev {
            display: hidden;
            width: 2.5rem;
            position: relative;
        }

        & .swiper-button-next {
            background-color: #BDAC8D;
            color: #FFFFFF;
            background-image: none;
            left: 17.5rem;
            top: -27.5rem;

        }

        & .swiper-button-prev {
            background-color: #FFFFFF;
            color: black;
            left: -0.5rem;
            top: -28.9rem;
        }

        & .swiper-button-next::after,
        & .swiper-button-prev::after {
            font-size: 0.8rem;
        }
    }

    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@include hotel-resume;

footer {
    background-color: #F8F8F8;
    padding: 1rem;

    & .footer-line {
        & p {
            font-family: 'Roboto';
            font-weight: 700;
            padding: 0.5rem 0;

            & span {
                padding: 0 0.5rem;
            }
        }
    }
}
@media screen and (max-width: 1000px) {
    .room-offers {
        & .offer-card {
            & .room-header {
                & .prices-extended {
                    display: none;
                    top: -5rem;
                    right: 1rem;
                }
            }
        }
    }
}
@media screen and (min-width: 1000px) {
    .offers {
        padding: 10rem 19.38% 0rem 19.38%;
    }

    .room-offers {
        margin: 5rem 19.38%;

        & .offer-card {
            box-shadow: none;

            & .offer-image-container {
                height: 35.63rem;

                & img {
                    height: 35.63rem;
                }

                & .prices {
                    display: none;
                }
            }
            & .offer-description {
                display: flex;
                background-color: white;
                position: relative;
                bottom: 5rem;
                margin: 0 2rem 0 2rem;
                border-top: solid #BDAC8D;
                padding-top: 2rem;
                margin: 0 2rem 0 2rem;
                flex-wrap: wrap;
                flex-direction: row;


                & .room-header {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    border-bottom: solid #ECECEC;
                    width: 90%;
                    margin-left: 5%;

                    & .prices-extended {
                        display: flex;
                        flex-direction: column;
                        top: 0;
                        padding-top: 1rem;
                    }
                }

                & .offer-text {
                    width: 50%;
                    margin-left: 5%;
                }

                & .list-amenities {
                    width: 40%;
                    margin-left: auto;

                    & .amenity {
                        align-items: center;
                        & img {
                            width: 3rem;
                        }
                        & p {
                            font-size: 1rem;
                        }
                    }
                }

                & .btn-book-now {
                    width: 10rem;
                    margin: 0 0 0 5%;
                }
            }

            
        }
    }
}