@mixin calendar($theme: null) {
    .calendar-container {
        @if $theme== 'dark' {
            background-color: #222222;
        }
        padding: 1rem;

        & .calendar-label-icon-input-container {
            padding-bottom: 1rem;
            display: flex;
            flex-direction: column;

            & label {
                font-family: 'Roboto';
                color: #FFFFFF;
            }

            & .icon-input-container {
                @if $theme== 'dark' {
                    border-bottom: 2px solid #BEAD8E;
                }
                @if $theme== 'light' {
                    background-color: #F8F8F8;
                    padding: 1rem;
                }

                & input {
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-color: transparent;
                    border-top: 0;
                    border-right: 0;
                    border-left: 0;
                    border-bottom: 0;
                    outline: none;
                    color: #BEAD8E;
                    direction: rtl;
                    position: relative;
                    top: 1rem;
                    padding: 0;
                    opacity: 0;
                    visibility: visible;
                    width: 100%;
                    height: 10px;
                    cursor: pointer;
                }
            }

            input[type="date"]::-webkit-calendar-picker-indicator {
                width: 100%;
            }


            & img {
                width: 1rem;
            }

            & #arrival-formatted-date,
            #return-formatted-date {
                color: #686868;
            }
        }

        & .btn-availability {

            @include btn;
            @include btn("light");

        }
    }
}