@mixin calendar($theme: null) {
    .calendar-container {
        @if $theme== 'dark' {
            background-color: #222222;
        }
        padding: 1rem;

        & .calendar-label-icon-input-container {
            padding-bottom: 1rem;
            display: flex;
            flex-direction: column;

            & label {
                font-family: 'Roboto';
                color: #FFFFFF;
            }

            & #icon-arrival-input-container, #icon-return-input-container {
                display: flex;
                flex-direction: row;
                padding: 0.5rem;
                @if $theme== 'dark' {
                    border-bottom: 2px solid #BEAD8E;
                }
                @if $theme== 'light' {
                    background-color: #F8F8F8;
                    padding: 1rem;
                }

                & input {
                    appearance: none;
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    background-color: transparent;
                    border-top: 0;
                    border-right: 0;
                    border-left: 0;
                    border-bottom: 0;
                    outline: none;
                    color: #BEAD8E;
                    direction: rtl;
                    position: relative;
                    top: 1rem;
                    padding: 0;
                    opacity: 0;
                    visibility: visible;
                    width: 1rem;
                    height: 10px;
                    cursor: pointer;
                }
            }

            input[type="date"]::-webkit-calendar-picker-indicator {
                width: 100%;
            }


            & img {
                width: 1rem;
                padding: 0rem 0;
                @if $theme=='light' {
                    position: relative;
                    left: 90%;
                }
            }

            & #arrival-formatted-date,
            #return-formatted-date {
                color: #686868;
            }
        }

        & .btn-availability {

            @include btn;
            @include btn("light");

        }
    }

    @media screen and (min-width: 1000px) {
        .calendar-container {
            display: flex;
            flex-direction: row;
            padding: 1rem 20% 1rem 20%;
            justify-content: flex-start;
            padding: 5rem 5rem;

            & .calendar-label-icon-input-container {
                width: 25%;
                margin-right: 2rem;

                & #icon-arrival-input-container, #icon-return-input-container {
                    height: 2rem;
                    & img {
                        height: 1rem;
                    }
                }
            }
            & .btn-availability {
                margin-left: auto;
            }
        }
    }
}