@mixin header($theme: null) {
    .header {
        height: 5rem;
        width: 100%;
        background-color: #000000;
        position: fixed;
        z-index: 2;
        top: 0;

        &__comfortable {
            display: none;
        }


        &__menu {
            top: 0;
            background-color: #FFFFFF;
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            column-count: 4;
            padding: 0.4rem 0rem;
            box-shadow: 0 0.1px 5px 0px gray;
            z-index: 2;
            width: 100%;

            & .hamburguer-container {
                width: 1.2rem;
                height: 1.2rem;
                margin: 0.5rem 2rem 0 0rem;

                & .hamburguer {
                    width: 1.2rem;
                    height: 1.2rem;
                }

                & .close-icon {
                    width: 0.9rem;
                    margin-top: 0.1rem;
                    margin-left: 0.1rem;
                }

            }


            & .title-container {
                display: flex;
                justify-content: center;
                width: 10rem;
                column-count: 2;
                padding-right: 5rem;

                & .web-icon-container {
                    margin-right: 1rem;
                    width: 2rem;
                    height: 2rem;
                    box-shadow: 0px 14px 24px 0px #8B8B8B40;

                    img {
                        margin: 0.6rem 0.6rem;
                    }
                }

                & .web-title-container {
                    break-inside: avoid;

                }

                & .web-title-container {
                    padding-top: 0.5rem;
                }
            }

            & .links {
                display: none;
            }

            & .account-search-container {
                break-inside: avoid;
                display: flex;
                flex-direction: row;

                & img {
                    padding: 0.5rem;
                }
            }
        }


    }

    .menu-extended {
        position: fixed;
        top: 1.5rem;
        left: -2rem;
        background-color: #FFFFFF;
        display: none;
        height: auto;
        width: 100%;
        text-align: left;
        margin: 2rem;
        z-index: 1;
        overflow: visible;
        visibility: visible;
        padding: 0.5rem 0;

        & .menu-link {
            font-family: 'Archivo';
            font-weight: 600;
            margin: 1.5rem;


        }
    }

    .menu-extended {
        position: fixed;
        top: 1.5rem;
        left: -2rem;
        background-color: #FFFFFF;
        display: none;
        height: auto;
        width: 100%;
        text-align: left;
        margin: 2rem;
        z-index: 10;
        overflow: visible;
        visibility: visible;
        padding: 0.5rem 0;

        & .menu-link {
            font-family: 'Archivo';
            font-weight: 600;
            margin: 1.5rem;


        }
    }

    @media screen and (min-width: 1000px) {
        .header {
            height: 5rem;
            padding: 0 10%;
            
            &__comfortable {
                display: block;
                color:#FFFFFF;
                font-family: 'Roboto';
            }
            &__menu {
                justify-content: flex-start;
                gap: 10%;
                & .hamburguer-container {
                    display: none;
                }

                & .title-container {
                    justify-content: flex-start;
                    margin-left: 1rem;
                    width: 20rem;
                    & .web-icon-container {
                        width: 5rem;
                        height: 5rem;

                        & img {
                            width: 1.94rem;
                            margin: 1.5rem;
                        }
                    }
                    & .web-title-container {
                        & img {
                            width: 8.56rem;
                            margin: 1rem;
                        }
                    }
                }

                & .links {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    align-items: center;

                    & .menu-link {
                        font-family: 'Archivo';
                    }
                }

                & .account-search-container {
                    display: flex;
                    flex-direction: row;
                    margin-left: auto;
                    height: 3rem;
                    margin-top: auto;
                    margin-bottom: auto;

                    & .account-container, & .search-container {
                        border: 1px solid #8585854D;
                        margin: 0 0.5rem;
                    }
                }
            }
        }

    }
}