header {
    background-color: #FFFFFF;
    position: sticky;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    column-count: 4;
    padding: 0.5rem 0;
    box-shadow: 0 0.1px 5px 0px gray;

    & .hamburguer-container {
        width: 1.2rem;
        height: 1.2rem;
        margin: 0.5rem 1rem 0 0rem;

        & .hamburguer {
            width: 1.2rem;
            height: 1.2rem;
        }

        & .close-icon {
            width: 0.9rem;
            margin-top: 0.1rem;
            margin-left: 0.1rem;
        }

    }


    & .title-container {
        display: flex;
        justify-content: center;
        width: 10rem;
        column-count: 2;
        padding-right: 5rem;

        & .web-icon-container {
            margin-right: 1rem;
            width: 2rem;
            height: 2rem;
            box-shadow: 0px 14px 24px 0px #8B8B8B40;

            img {
                margin: 0.6rem 0.6rem;
            }
        }

        & .web-title-container {
            break-inside: avoid;

        }

        & .web-title-container {
            padding-top: 0.5rem;
        }
    }

    & .account-search-container {
        break-inside: avoid;

        & img {
            padding: 0.5rem;
        }
    }

}

.menu-extended {
    position: absolute;
    top: 1.5rem;
    left: -2rem;
    background-color: #FFFFFF;
    display: none;
    height: 15rem;
    width: 100%;
    text-align: left;
    margin: 2rem;
    z-index: 1;
    overflow: visible;
    visibility: visible;

    & .menu-link {
        font-family: 'Archivo';
        font-weight: 600;
        margin: 1rem;

        & p {
            & a {
                text-decoration: none;
                color: inherit;
            }
        }

    }
}