.perfect-base-container {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    padding: 4rem 1rem; 
    & .ultimate-luxury-container {
        width: 70%;
        height: 2rem;
        margin: 0.6rem 0;
        & h2 {
            font-family: 'Archivo';
            font-size: 0.75rem;
            color: #FFFFFF;
            letter-spacing: 2.8px;
        }
    }
    & .title-container {
        width: 95%;
        height: 7.5rem;
        margin: 1rem 0;
        & h1 {
            color: #FFFFFF;
            font-family: 'Old Standard TT';
            font-size: 3.4rem;
            font-weight: 400;
            letter-spacing: -1.2px;
        }
    }

    & .tour-learn-btn-container {
        margin: 2rem 0 0 0;
        & button {
            width: 60%;
            height: 3.75rem;
        }
        & .btn-tour {
            font-family: 'Archivo';
            background-color: #BEAD8E;
            border: none;
            margin-bottom: 0.7rem;
            color: #FFFFFF;
        }
        & .btn-learn {
            font-family: 'Archivo';
            border: solid;
            background-color: transparent;
            border-color: #6e6e6e;
            margin-top: 0.7rem;
            color: #FFFFFF;
        }

    }
}