@import 'commons/page-title';
@import 'commons/room-card';
.rooms-title {
    background-color: #333333;
    display: flex;
    flex-direction: column;
    padding: 8rem 1rem 0rem 1rem;
    @include page-title;
}
.rooms-container {
    padding: 1rem;
    @include room-card;
    & .room-card {
        & .image-container {
            & .room-features {
                position: relative;
                top: -1.5rem;
                left: 12.5%;
            }
        }
    }
}