@use 'header';
@use 'perfect-base-container';
@use 'calendar';
@use 'about-us-section';
@use 'about-us-page';


html, * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body { min-width: 320px }
a {
    text-decoration: none;
    color: inherit;
}